node_modules
npm-debug.log
yarn-error.log
.pnpm-debug.log
.env
.env.local
.env.*.local
.env.*
.git
.gitignore
.idea
.vscode
.DS_Store
coverage
*.log
logs
**/logs
*.pid
*.seed
*.pid.lock
*.tsbuildinfo
*.swp
.dockerignore
build/
dist/
out/
tmp/
.cache/
.next/
.vscode/
*.swp
*.bak
*.orig
*.rej
.nyc_output
